In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv("cdaaa.csv", sep=";")
df.head()

,author,author_type,url,location,deal_type,accommodation_type,floor,floors_count,rooms_count,total_meters,...,finish_type,living_meters,kitchen_meters,phone,ceiling_height,district,street,house_number,underground,residential_complex
0,СЕТЬСТРОЙ БАЛАШИХА,developer,https://balashikha.cian.ru/sale/flat/299327331/,Балашиха,sale,flat,5,17,2,53.70,...,Без отделки,"20,9 м²","16,1 м²",74951379460,"2,72 м",г. Балашиха,ул. Твардовского,к3,Новокосино,Квартал Светлый ЖК
1,ID 7070788,realtor,https://balashikha.cian.ru/sale/flat/301737579/,Балашиха,sale,flat,6,16,2,56.50,...,-1,30 м²,8 м²,79164139015,"2,75 м",NaN,NaN,21,Щёлковская,NaN
2,Самолет,developer,https://balashikha.cian.ru/sale/flat/308722127/,Балашиха,sale,flat,16,22,2,70.14,...,"Без отделки, черновая, чистовая","29,8 м²","17,1 м²",74997154380,"2,74 м",NaN,NaN,к7,Некрасовка,Новоград Павлино
3,Анастасия Тимина,realtor,https://balashikha.cian.ru/sale/flat/302418386/,Балашиха,sale,flat,14,25,2,58.70,...,-1,28 м²,14 м²,79660472652,"2,6 м",NaN,Балашихинское шоссе,12,Щёлковская,Лесной городок
4,Самолет,developer,https://balashikha.cian.ru/sale/flat/308661878/,Балашиха,sale,flat,11,13,2,59.94,...,"Без отделки, чистовая","30,7 м²","14,1 м²",74951348172,3 м,NaN,NaN,к3,Салтыковская,Квартал Авиаторов ЖК

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   author                343 non-null    object
 1   author_type           343 non-null    object
 2   url                   395 non-null    object
 3   location              395 non-null    object
 4   deal_type             395 non-null    object
 5   accommodation_type    395 non-null    object
 6   floor                 395 non-null    int64
 7   floors_count          395 non-null    int64
 8   rooms_count           395 non-null    int64
 9   total_meters          395 non-null    float64
 10  price                 395 non-null    int64
 11  year_of_construction  395 non-null    object
 12  object_type           395 non-null    object
 13  have_loggia           395 non-null    object
 14  parking_type          395 non-null    object
 15  house_material_type   395 non-null    object
 16  heating_type          395 non-null    int64
 17  finish_type           395 non-null    object
 18  living_meters         395 non-null    object
 19  kitchen_meters        395 non-null    object
 20  phone                 395 non-null    int64
 21  ceiling_height        395 non-null    object
 22  district              7 non-null      object
 23  street                314 non-null    object
 24  house_number          383 non-null    object
 25  underground           390 non-null    object
 26  residential_complex   176 non-null    object
dtypes: float64(1), int64(6), object(20)
memory usage: 83.4+ KB

In [13]:
df.shape

(395, 27)

In [19]:
df['total_meters'] = df['total_meters'].astype(int)
df['total_meters']

0      53
1      56
2      70
3      58
4      59
       ..
390    77
391    62
392    62
393    70
394    65
Name: total_meters, Length: 395, dtype: object